button {
    @include box-shadow($x : 0px, $y : 5px, $flou : 10px, $double : 0px);
    background: linear-gradient(165deg, $font-secondary, $font-primary);
    padding: calc($half-margin + 3px);
    border: 0;
    border-radius: $margin;
    font-weight: 400;
    color: white;
}