button {
    background: linear-gradient($font-secondary, $font-primary);
    margin: $quarter-margin 0;
    padding: calc($half-margin + 4px);
    border: 0;
    border-radius: $margin;
    font-weight: bold;
    color: white;
}