.location {
    background-color: darken($font-quaternary, 5);
    color: lighten(black, 30);
    font-weight: bold;
    padding: 0;

    @include flex( null, 'center');

    &>p {
        margin-left: $half-margin;
    }
}

.presentation {
    @include flex('column', 'center');
    background-color: $font-quaternary;

    h1 {
        width: 80%;
        font-size: 1.5em;
        margin: 0;
        text-align: center;
    }

    p {
        font-size: 1.1em;
        font-weight: 300;
        text-align: center;
        margin: $half-margin 0 $tree-quarter-margin;
        color: gray; 
    }

    button {
        margin-bottom: $quarter-margin;
    }
}

.working {
    padding-left: $margin;

    h1 {
        font-size: 1.5em;
        margin: 0 0 $margin;
    }

    &__step {
        font-weight: bold;
        padding: calc($margin - 2px);
        position: relative;
        margin-bottom: calc($half-margin + 6px);

        @include flex(null, center, flex-start);
        @include menu;

        p {
            margin: 0;
        }

        i {
            margin: 0 $margin 0 calc($half-margin - 5px);
            font-size: 1.2em;
            color: gray;
        }

        &:last-child {
            background-color: lighten($color: $font-primary, $amount: 35%);
            i {
                color: $font-primary;
            }
        }

        &__dot {
            @include flex(null, center);
            font-size: 0.8em;
            color: white;
            position: absolute;
            border-radius: 100%;
            left: 0;
            transform: translate(-50%, 0%);
            background: $font-primary;
            width: 2em;
            height: 2em;
        }
    }
}

.restaurants {
    h1 {
        font-size: 1.6em;
        margin: $margin 0;
    }
}