.location {
    background-color: fade-out(darken($font-quaternary, 15), .4);
    color: lighten(black, 30);
    font-weight: bold;
    padding: 0;

    @include flex( null, 'center');

    &>p {
        margin-left: $half-margin;
    }
}

.presentation {
    @include flex('column', 'center');
    background-color: $font-quaternary;

    h1 {
        width: 80%;
        font-size: 1.5em;
        margin: 0;
        text-align: center;
    }

    p {
        font-size: 1.1em;
        font-weight: 300;
        text-align: center;
        margin: $half-margin 0 $tree-quarter-margin;
        color: gray; 
    }

    button {
        margin-bottom: $quarter-margin;
    }
}

.working {
    padding-left: calc($margin - 5px);

    h1 {
        font-size: 1.5em;
        margin: 0 0 $margin;
    }

    &__step {
        font-weight: bold;
        padding: calc($margin - 2px);
        position: relative;
        margin-bottom: calc($half-margin + 6px);

        @include flex(null, center, flex-start);
        @include menu;

        p {
            margin: 0;
        }

        i {
            margin: 0 $margin 0 calc($half-margin - 5px);
            font-size: 1.2em;
            color: gray;
        }

        &:last-child {
            background-color: lighten($color: $font-primary, $amount: 35%);
            i {
                color: $font-primary;
            }
        }

        &__dot {
            @include flex(null, center);
            font-size: 0.8em;
            color: white;
            position: absolute;
            border-radius: 100%;
            left: 0;
            transform: translate(-50%, 0%);
            background: $font-primary;
            width: 2em;
            height: 2em;
        }
    }

    @include tab {
        @include flex($column : column, $align-item : center);

        h1 {
            width: 100%;
        }

        &__step {
            width: 300px;
        }
    }

    @include desktop {
        @include flex($align-item : center);
        flex-wrap: wrap;
        column-gap: $margin;
    }
}

.restaurants {
    background-color: $font-quaternary;

    >h1 {
        font-size: 1.5em;
        margin: 0 0 $margin;
    }

    a {
        text-decoration: none;
        color: unset;
    }
    
    .restaurant {
        @include box-shadow($y : 2px, $color : darken($font-quaternary, 20));

        background-color: white;
        border-radius: $half-margin;
        overflow: hidden;
        position: relative;
        margin-bottom: $half-margin;
        
        &__cover {
            object-fit: cover;
            width: 100%;
            height: 175px;
        }

        &__new {
            position: absolute;
            top: $half-margin;
            right: $half-margin;
            background-color: $font-ternary;
            margin: 0;
            color: darken($color: $font-ternary, $amount: 40);
            font-weight: bold;
            font-size: .8em;
            line-height: .8em;
            padding: $quarter-margin calc($quarter-margin + 3px);
            border-radius: 2px;
        }

        &__desc {
            padding: $half-margin;
            @include flex(null, center, space-between);

            h1 {
                font-size: 1.1em;
                margin: 0;
            }

            p {
                margin: 5px 0 0 0;
            }

            i {
                font-size: 1.8em;
                color: gray;

                &:hover {
                    font-weight: bold;
                    color: $font-primary;
                }
            }
        }

    }
}