@mixin flex($column : row, $align-item : normal, $justify-content: center) {
    display: flex;
    flex-direction: #{$column};
    align-items: #{$align-item};
    justify-content: #{$justify-content};
}

@mixin box-shadow($x : 0px, $y : 5px, $flou : 10px, $double : 0px) {
    box-shadow: $x $y $flou $double darken($font-quaternary, 40);
}