$font-primary: #9356DC;
$font-secondary: #FF79DA;
$font-ternary: #99E2D0;
$font-quaternary: rgba(221, 221, 221, 0.50);
$padding: 45px;
$margin: 30px;
$quarter-margin: calc($margin / 4);
$half-margin: calc($margin / 2);
$tree-quarter-margin: calc($margin * 0.75);